<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kvm</title>

</head>
<body>
<div id="container" style=width:100%;margin:auto;>
	<div id="header" style=width:100%;height:100px;border:1px #F00 solid;>
		<div id="logo" style=float:left;width:20%;height:100px;border:1px #F00 solid;>
			<ul>
				<span style="font-size: 25px;color:#001164">Cloud Computing</span>
			</ul>
		</div>
		<div id="status" style=float:left;width:80%;height:100px;border:1px #F00 solid;>
			<ul>
                <span style="float:right;font-size: x-large;color: #e7744b">欢迎用户{{username}}.<a href="/" target="in">[LogOut]</a></span>
			</ul>
		</div>
	</div>
	<div id="main" style=width:100%;height:650px;border:1px #F00 solid;>
		<div id="menu" style=float:left;width:20%;height:650px;border:1px;background-color:#ecd3f1 #F00 solid;>
			<ul>
				<span>虚拟机管理</span>
				<ul>
					<li><a href="listVM">虚拟机列表</a></li>
					<li><a href="createVM">创建虚拟机</a></li>
                    <li><a href="deleteVM">删除虚拟机</a></li>
                    <li><a href="migrateVM">虚拟机迁移</a></li>
				</ul>
				<span>磁盘管理</span>
				<ul>
					<li><a href="listDisk">磁盘列表</a></li>
					<li><a href="createDisk">创建磁盘</a></li>
				</ul>
                <span>虚拟机操作</span>
                <ul>
                    <li>
                        <a href="url">VNC</a>
                    </li>
                </ul>

			</ul>
		</div>
        <div id="right" style=float:left;width:80%;height:650px;border:1px;background-color:snow #F00 solid;>
            {% block content %}

            {% endblock %}
		</div>
	</div>
</div>
</body>
</html>