{% if islogin == '1' %}
{% extends "base.html" %}
{% block content %}

<div id="right" style=float:left;width:80%;height:650px;border:1px #F00 solid;>

    <h1 align="right" style="font-size: 80px;color:midnightblue">
        KVM虚拟机管理平台
    </h1>
    <br/>
    <br/>
    <form action="" method="post" align="middle">
        <input type="submit" value="创建虚拟机" name="Create" style="font-size: x-large;background-color:#cb1616;border-radius:10px;height: 50px;width: 200px">
    </form>

</div>

{% endblock %}
{% else %}
    <span>{{username}}</span>
{% endif %}