<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
    <link href="../static/login.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div class="login">
	<h1>欢迎登录云计算管理平台</h1>
    <form method="post">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">登录</button>
    </form>
</div>

</body>
</html>

